@import './assets.scss';

.about {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  position: relative;
  padding-left: clamp(2rem, 4vw, 6rem);
  padding-right: clamp(1rem, 4vw, 6rem);

  &::before {
    position: absolute;
    content: '<section>';
    left: 10px;
    top: 5px;
    font-size: 0.9rem;
    opacity: 0.3;
  }

  &::after {
    position: absolute;
    content: '</section>';
    left: 10px;
    bottom: 5px;
    font-size: 0.9rem;
    opacity: 0.3;
  }

  h2 {
    font-size: clamp(2rem, 15vw, 4.5rem);
    position: relative;
    color: $text-clr-3;
    transition: 300ms;
    z-index: 5;

    &::before {
      position: absolute;
      content: '<h2>';
      top: -10px;
      left: -15px;
      font-size: 0.9rem;
      color: $text-clr-1;
      opacity: 0.3;
      font-weight: 400;
      text-shadow: none;
    }

    &::after {
      position: absolute;
      content: '</h2>';
      bottom: -10px;
      left: -15px;
      font-size: 0.9rem;
      color: $text-clr-1;
      opacity: 0.3;
      font-weight: 400;
      text-shadow: none;
    }
  }

  .paragraphs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    z-index: 5;

    &::before {
      position: absolute;
      content: '<p>';
      top: -20px;
      left: -15px;
      font-size: 0.9rem;
      color: $text-clr-1;
      opacity: 0.3;
      font-weight: 400;
    }

    &::after {
      position: absolute;
      content: '</p>';
      bottom: -20px;
      left: -15px;
      font-size: 0.9rem;
      color: $text-clr-1;
      opacity: 0.3;
      font-weight: 400;
    }

    p {
      font-size: 1.1rem;
      max-width: 780px;
    }
  }

  @media only screen and (max-width: 650px) {
    &::before,
    &::after {
      left: 5px;
    }
  }

  @media only screen and (max-width: 400px) {
    .paragraphs {
      padding: 5px 0;
    }

    h2 {
      padding: 5px 0;
    }

    .paragraphs p {
      font-size: 1rem;
    }
  }

  #bkPatern {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.1) 9%,
      transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;
    z-index: 1;
    transition: 300ms;

    &[data-hover='true'] {
      background-size: 11vmin 11vmin;
      opacity: 0.3;
    }

    &[data-index='0'] {
      background-position: 0 -25%;
    }

    &[data-index='1'] {
      background-position: 0 -50%;
    }

    &[data-index='2'] {
      background-position: 0 -75%;
    }

    &[data-index='3'] {
      background-position: 0 -100%;
    }

    &[data-index='4'] {
      background-position: 0% -125%;
    }
  }

  #bkImage {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transition: 300ms;

    background-image: url('../public/about-bk.jpg');
    background-repeat: no-repeat;
    background-position: center 40%;
    background-size: 110vmax;
    opacity: 0.15;

    &[data-hover='true'] {
      opacity: 0.1;
      background-size: 100vmax;
    }

    &[data-index='0'] {
      background-position: center 45%;
    }

    &[data-index='1'] {
      background-position: center 50%;
    }

    &[data-index='2'] {
      background-position: center 55%;
    }

    &[data-index='3'] {
      background-position: center 60%;
    }

    &[data-index='4'] {
      background-position: center 65%;
    }
  }
}
