@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poiret+One&display=swap');

$main-clr: rgb(30, 30, 30);
$text-clr-1: rgb(200, 200, 200);
$text-clr-2: black;
$text-clr-3: white;
$acc-clr: rgb(37, 196, 148);
$border-clr: rgba(112, 112, 112, 0.4);
$font-2: 'Montserrat', sans-serif;
$font-3: 'Poiret One', cursive;
