@import './assets.scss';

.contact {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  position: relative;
  padding-left: clamp(2rem, 4vw, 6rem);
  padding-right: clamp(1rem, 4vw, 6rem);
  padding-top: 2.5rem;
  padding-bottom: 3.5rem;

  &::before {
    position: absolute;
    content: '<section>';
    left: 10px;
    top: 5px;
    font-size: 0.9rem;
    opacity: 0.3;
  }

  &::after {
    position: absolute;
    content: '</section>';
    left: 10px;
    bottom: 5px;
    font-size: 0.9rem;
    opacity: 0.3;
  }

  h2 {
    font-size: clamp(2rem, 13vw, 4.5rem);
    position: relative;
    color: $text-clr-3;
    transition: 300ms;
    z-index: 5;

    &::before {
      position: absolute;
      content: '<h2>';
      top: -10px;
      left: -15px;
      font-size: 0.9rem;
      color: $text-clr-1;
      opacity: 0.3;
      font-weight: 400;
      text-shadow: none;
    }

    &::after {
      position: absolute;
      content: '</h2>';
      bottom: -10px;
      left: -15px;
      font-size: 0.9rem;
      color: $text-clr-1;
      opacity: 0.3;
      font-weight: 400;
      text-shadow: none;
    }
  }

  form {
    max-width: 700px;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 5;

    &::before {
      position: absolute;
      content: '<form>';
      top: -25px;
      left: -15px;
      font-size: 0.9rem;
      color: $text-clr-1;
      opacity: 0.3;
      font-weight: 400;
      text-shadow: none;
    }

    &::after {
      position: absolute;
      content: '</form>';
      bottom: -25px;
      left: -15px;
      font-size: 0.9rem;
      color: $text-clr-1;
      opacity: 0.3;
      font-weight: 400;
      text-shadow: none;
    }

    div {
      width: 100%;
      height: auto;
      display: flex;
      gap: 20px;
    }

    .nameWrapper,
    .emailWrapper,
    .messageWrapper {
      position: relative;
      transition: 300ms;

      input,
      textarea {
        width: 100%;
        display: block;
        padding: 1rem;
        outline: none;
        border: none;
        transition: 300ms;
        font-family: $font-2;
        font-weight: 500;
        font-size: 1.1rem;
        color: $text-clr-1;
        resize: none;
        background-color: rgb(20, 20, 20);
        position: relative;
      }

      span {
        position: absolute;
        display: block;
        width: 100%;
        z-index: 6;
        transition: 300ms ease-in;
        background-color: $acc-clr;

        &:nth-of-type(1) {
          width: 100%;
          height: 2px;
          top: 0;
          left: 0;
          width: 0;
        }

        &:nth-of-type(2) {
          width: 100%;
          height: 2px;
          bottom: 0;
          right: 0;
          width: 0;
        }

        &:nth-of-type(3) {
          width: 2px;
          height: 100%;
          top: 0;
          left: 0;
          height: 0;
        }

        &:nth-of-type(4) {
          width: 2px;
          height: 100%;
          bottom: 0;
          right: 0;
          height: 0;
        }
      }

      input:focus ~ span:nth-of-type(1),
      input:focus ~ span:nth-of-type(2),
      textarea:focus ~ span:nth-of-type(1),
      textarea:focus ~ span:nth-of-type(2) {
        width: 100%;
      }

      input:focus ~ span:nth-of-type(3),
      input:focus ~ span:nth-of-type(4),
      textarea:focus ~ span:nth-of-type(3),
      textarea:focus ~ span:nth-of-type(4) {
        height: 100%;
      }
    }

    textarea {
      height: 300px;
    }

    .btnWrapper {
      position: relative;

      .icon {
        position: absolute;
        transition: 300ms;
        z-index: 8;
        font-size: clamp(2rem, 5vw, 3rem);
        color: $acc-clr;
        scale: 0;
        right: 0;
        bottom: 0;

        &.active {
          animation: send 3s linear forwards;
          scale: 1;
        }
      }

      @keyframes send {
        0% {
          transform: translateY(0);
        }

        100% {
          transform: translateY(-100vh) rotate(3600deg);
        }
      }
    }

    button {
      display: block;
      text-transform: uppercase;
      color: $acc-clr;
      border: 1px solid $acc-clr;
      padding: 1rem clamp(1.5rem, 4vw, 3rem);
      transition: 300ms;
      overflow: hidden;
      position: relative;
      z-index: 5;
      font-size: 1.1rem;
      margin-top: 20px;
      margin-left: auto;
      cursor: pointer;
      box-shadow: 0 0 5px $acc-clr;
      text-shadow: 0 0 5px $acc-clr;
      background-color: $main-clr;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9;

      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: $acc-clr;
        top: 0;
        left: 0;
        transition: 300ms;
        transform: translateX(-100%);
      }

      &:hover {
        &::before {
          transform: translateX(0);
          opacity: 0.3;
        }
      }
    }
  }

  @media only screen and (max-width: 400px) {
    h2 {
      padding: 5px 0;
    }

    form {
      gap: 10px;

      div {
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}
